[submodule "Assets/ROSUnityCore"]
	path = Assets/ROSUnityCore
	url = https://github.com/DavidFernandezChaves/ROSUnityCore.git
[submodule "Assets/ViMantic"]
	path = Assets/ViMantic
	url = https://github.com/DavidFernandezChaves/ViMantic-Unity3DNode.git
[submodule "Assets/geometry3Sharp"]
	path = Assets/geometry3Sharp
	url = https://github.com/gradientspace/geometry3Sharp.git
